

.bg-primary{
    background-color: pink !important;
    background-image:  url(../assets/img/0234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}








p#redred{
    background-color: black(138,43,226,0.5);
    color:yellow;
    border:10px solid rgb(249, 203, 135);
    background-image:  url(../assets/img/0123.jpg);
    font-size: 120px;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.8;
    line-height: 1.5em;
}


.blueblue{
    color:pink;
}
 
body{ 
     font-family:'Noto Sans TC', sans-serif;
}


h1,h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Noto Serif TC', sans-serif; 
}

.expedu_icon{
    color:rgb(1, 219, 253);
    background-color: rgb(247, 247, 247);
}
table.mytable th{
    width: 80%;
    text-align: center;
    background-color: rgb(210, 214, 243);
    color: rgb(58, 58, 58);
    border: 2.5px solid rgb(139, 139, 139)
}
table.mytable td{
    text-align: center;
    border-collapse: separate;
    border: 2.5px solid rgb(139, 139, 139)
}
table.mytable tr:nth-child(even){
    background-color: rgb(197, 213, 243);
}
table.mytable tr:nth-child(odd){
    background-color: rgb(243, 216, 230);
}

ol.list-group>li:hover {
    background-color: rgb(96, 90, 102);
    color: azure; 
}
   ol.mylist>li:hover {
    background-color: rgb(96, 90, 102);
    color: azure; 
}